* {
    margin: 0;
    padding: 0;

    font-family: 'Abel', sans-serif;
}

body {
    background-color: #e6e6ff;
    margin: 0 auto;
    
    width: 100%;
}

#logo {
    padding: 0 266px;
}

#logo h1 {
    letter-spacing: -3px;
    text-transform: lowercase;
    font-size: 3em;
    
    position: relative;
    top: 13px;
    padding: 0 15px;
}

#logo p {
    display: inline-block;
    
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    
    padding: 0 25px 17px;;
}

#menu {
    display: inline-block;
    
    float: right;
    position: relative;
    top: -55px;
    right: 266px;
}

#menu a {
    text-decoration: none;
    color: black;
    
    font-weight:600;
    text-transform: uppercase;
    
    padding: 8px 15px;
    text-align: center;
}

#menu a:hover {
    border-bottom: 2px solid grey;
    color: #2C5154;
}

.dropbtn {
    background-color: transparent;
    color: black;
    
    border: none;
    cursor: pointer;
    
    font-weight: 600;
    
    text-transform: uppercase;
    text-decoration: none;
}

.dropbtn a {
    text-decoration: none;
    
}

.dropdown {
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    
    background-color: #e6e6ff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
    min-width: 100px;
    top: 20px;
}

.dropdown-content a {
    display: block;
    
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #79B3B8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    background-color: #1D88A3;
}

header li {
    display: inline-block;
}

main {
    padding: 60px 0 0 ;
}

.flex-container {
    display: flex;
    
    width: 800px;
    min-height: 400px;
    padding: 0 0 60px 0;
    
    margin: auto;
    justify-content:space-between;
    flex-wrap: wrap;
}

.flex-container p {
    padding: 10px;
        
    font-size: 30px;
    font-weight: bold;
    
    color: black;
    background-color: rgba(255,255,255, 0.5);
}

.flex-container a {
    font-size: 16px;
    font-weight: bold;
    
    color: #0000b3;

    margin-left: 290px;
    top: 60px;
    
    position: relative;
    text-decoration: none;
}

.images {
    width: 48.7%;
    height: 210px;
}

.images-1 {
    background-image: url(img/boek.jpg);
    background-size: cover;
}

.images-2 {
    background-image: url(img/dd.jpg);
    background-size: cover;
}

.images-3 {
    background-image: url(img/got.jpg);
    background-size: cover;
 
}

.images-4 {
    background-image: url(img/mario.jpg);
    background-size: cover;

}

article {
    margin: 0 auto;
    width: 800px;
}

article h2 {
    font-size: 35px;
    
    padding: 0 0 30px;
}

article p {
    padding: 0 0 40px;
}

article a {
    font-weight: bold;
    text-decoration: none;
}

.boek, .museum, .serie, .SuperMario {
    padding: 0 0 30px;
    position: relative;
    left: 10%;
}

#akuku {
    box-sizing: border-box;
    width: 180px;
    height: 100px;
    
    position: fixed;
    top: 150px;
   
    padding: 0 0 0 15px;
    left: -180px;
    transition: left 0.4s ease-out;    
}

#akuku:after {
    content: url('https://media3.giphy.com/media/xUPGczpUoVXAjCPmUM/100.gif');
    
    position: absolute;
    right: -100px;
    top: -5px;
    
    cursor: pointer;
}

#akuku:hover {
    left: 0;
}

#akuku1 {
    box-sizing: border-box;
    width: 150px;
    height: 100px ;
    
    position: fixed;
    top: 390px; 
    
    padding: 0 0 0 15px;
    left: -150px;
    transition: left 0.4s ease-out;
}

#akuku1:after {
    content: url('https://media1.giphy.com/media/l378uYXF9T2gxVHRS/100.gif');
    
    position: absolute;
    right: -100px;
    top: -5px;
    
    cursor: pointer;
}

#akuku1:hover {
    left: 0;
}

footer {
    display: block;
    width: auto;
	height: 100px;
	background-color: #1D88A3;
}

/*.images-1{order: 3}
.images-2{order: 2}
.images-3{order: 1}
.images-4{order: 4}*/
